@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Tinos";
  --background: 40 20% 94%;
  --foreground: 360 0% 0%;
  --card: 360 0% 90%;
  --card-foreground: 360 0% 10%;
  --popover: 360 0% 95%;
  --popover-foreground: 360 95% 0%;
  --primary: 360 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 322 10% 85%;
  --muted-foreground: 360 0% 35%;
  --accent: 322 10% 80%;
  --accent-foreground: 360 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 360 0% 90%;
  --border: 360 10% 65%;
  --input: 360 20% 18%;
  --ring: 360 0% 0%;
  --radius: 0.5rem;
}
.dark {
  --background: 360 10% 5%;
  --foreground: 360 0% 90%;
  --card: 360 0% 0%;
  --card-foreground: 360 0% 90%;
  --popover: 360 10% 5%;
  --popover-foreground: 360 0% 90%;
  --primary: 360 0% 0%;
  --primary-foreground: 0 0% 100%;
  --secondary: 360 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 322 10% 15%;
  --muted-foreground: 360 0% 60%;
  --accent: 322 10% 15%;
  --accent-foreground: 360 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 360 0% 90%;
  --border: 360 10% 65%;
  --input: 360 20% 18%;
  --ring: 360 0% 0%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border border-opacity-50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
